{{define "resource-gallery"}}
{{template "base_header" .title}}
<section class="flickr-gallery container">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1>Photo Gallery</h1>
                <div class="row">
                {{range .albums}}
                    <div class="album-grid">
                        <img
                                class="img-fluid album-grid-item" src="{{ .PrimaryPhotoExtra.UrlMedium}}" alt=""></a>
                    {{/*<div class="overlay">*/}}
                    {{/*<h2>{{ .Title.Content}}</h2>*/}}
                    {{/*<a class="info align-middle" href="/resources/gallery/{{ .Id}}/{{ .Title.Content}}">View*/}}
                    {{/*Album</a>*/}}
                    {{/*</div>*/}}
                        <div class="album-grid-item-overlay">
                            <a class="album-grid-item-title" href="/resources/gallery/{{ .Id}}/{{ .Title.Content}}"><h2>{{ .Title.Content}}</h2></a>
                        </div>
                    </div>
                {{end}}
                </div>
            </div>
            <div class="col-lg-3">{{template "side_bar"}}</div>
        </div>
    </div>
</section>
{{template "base_footer"}}
{{ end}}