{{define "resource-publications"}}

{{template "base_header" .title}}
<section class="publications container">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1>Publications</h1>
                <div class="container publications-list">
                {{ range .publications}}
                    <div class="publication-item row">
                        <div class="col-lg-6">
                            <img class="img-fluid img-cover" src="/public{{(index .Images 0).File.URL}}">
                        </div>
                        <div class="col-lg-6">
                            <h4>{{.Title}}</h4>
                            <p>{{.Body | unsafeHtml}}</p>
                        {{ if .Documents}}
                            <a class="publication-link btn btn-outline-secondary" target="_blank"
                               href="/public{{(index .Documents 0).File.URL}}" role="button">Download</a>
                        {{ end}}
                        </div>
                    </div>
                {{end}}
                </div>
            </div>
            <div class="col-lg-3">{{template "side_bar"}}</div>
        </div>
    </div>
</section>
{{template "base_footer"}}
{{ end}}