{{define "base_footer"}}

<footer class="container-fluid">
    <div class="footer-content container">
        <div class="row">
            <div class="col-lg-3">
                <h4 class="text-center">About Us</h4>
                <p class="text-justify">We are an ecological think tank organisation advocating for
                    environmental/climate justice and food sovereignty in Nigeria and Africa at large.</p>
            </div>
            <div class="col-lg-3">
                <h4 class="text-center">Contact</h4>
                <p>Top Floor, #214 Uselu-Lagos Road, Ugbowo</p>
                <p>P.O Box 10577, Benin City,&nbsp;Nigeria.</p>
                <p>&nbsp;</p>
                <p><strong>Tel </strong></p>
                <p>+234 906 975 6927</p>
                <p>+234 817 370 6095</p>
                <p>&nbsp;</p>
                <p><strong>Email:</strong></p>
                <p>home@homef.org</p>
            </div>
            <div class="col-lg-3">
                <h4 class="text-center">Flickr</h4>
                <div class="flicker-images">
                </div>
            </div>
            <div class="col-lg-3">
                <h4 class="text-center">Social</h4>
            </div>
        </div>
    </div>
    <div class="footer-info text-center"><p>© Health of Mother Earth Foundation 2018. All Rights Reserved</p></div>
</footer>
</div>
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/custom.js"></script>
</body>
</html>
{{ end }}