{{define "base_header"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homef of Mother Earth Foundation - {{ . }}</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/lightgallery.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/homef.css"/>
</head>
<body>
<div class="container-fluid main-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a href="/" class="logo"><img src="/public/img/Homef-Logo.png" alt="HOMEF" class="homef-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homef-navbar"
                aria-controls="homef-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="homef-navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/fossil-politics">Fossil Politics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hunger-politics">Hunger Politics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sustainability-academy">Sustainability Academy</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="resourcesDropdown">
                        <a class="dropdown-item" href="/resources/publications">Publications</a>
                        {{/*<a class="dropdown-item" href="/resources/annual-reports">Annual Reports</a>*/}}
                        {{/*<a class="dropdown-item" href="/resources/books">Books</a>*/}}
                        {{/*<a class="dropdown-item" href="/resources/eco-instigator">Eco-Instigator</a>*/}}
                        <a class="dropdown-item" href="/resources/gallery">Photo Gallery</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Contacts</a>
                </li>

            </ul>
        </div>
    </nav>
{{ end }}