{{define "sustainability-academy"}}
{{template "base_header" .title}}
<section class="sustainability-banner jumbotron-fluid d-flex align-items-center">
    <div class="container">
        <div class="fossil-banner-content col-lg-6">
            <h1>Sustainability Academy</h1>
            <p class="text-justify">The Sustainability Academy provides the fundamental vehicle for the attainment of
                the change HOMEF seeks to build by creating spaces for knowledge creation, interrogation and sharing.
            </p>
        </div>
    </div>
</section>
<section class="latest-news container-fluid">
    <div class="container">
        <h5>Sustainability Academy - News</h5>
        <div class="row post-top">
            <div class="card-deck">
            {{ range .posts}}
                    {{template "card-item" .}}
                {{end}}
            </div>
        </div>
    </div>
</section>
{{template "flickr-gallery" .gallery.Photos.PhotoItems}}
{{template "base_footer"}}
{{end}}
