{{define "post-detail"}}
{{template "base_header"}}
<section class="post-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 post-content">
                <h1>{{ .post.Title}}</h1>
                <p class="subtitle">{{ .post.Created | displayDate}} | {{ .post.Type}}</p>
                <img src="/public{{(index .post.Images 0).File.URL}}" alt="" class="img-fluid">
            {{.post.Body | unsafeHtml}}
            </div>
            <div class="col-lg-3">
                <div class="recent-posts">
                    <h3>Recent Posts</h3>
                    <ul>
                    {{range .recentPosts}}
                        <li class="d-flex align-items-center"><img src="/public{{(index .Images 0).File.URL}}" alt="">
                            <p><a href="/posts/{{.ID}}">{{.Title}}</a></p></li>
                    {{end}}
                    </ul>
                </div>
                <div class="recent-tweets">
                    <h3>@Twitter</h3>
                    <div class="tweets">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{template "base_footer"}}
{{ end }}