{{define "card-item"}}
<div class="card card-background card-item">
{{ if .Images}}
    <a href="/posts/{{.ID }}"><img class="card-img-top img-fluid post-image" src="/public{{(index .Images 0).File.URL}}"
                                   alt=""></a>

{{ end }}
    <div class="card-body">
        <h5><a href="/posts/{{.Slug}}">{{ .Title}}</a></h5>
    {{/*<p>{{.Body | stripSummaryTags | truncateBody 300 }}</p>*/}}
    </div>
{{ if .Categories}}
    <div class="card-footer">
        <p class="text-right">
        {{with $c := .Categories}}
        {{ with $items := slice $c 0 1 }}
        {{range $items}}
            <a class="cat-list" href="/categories/{{.Name}}">{{ .Name}}</a>
        {{end}}
        {{end}}
        {{end}}
        </p>
    </div>
{{end}}
</div>
{{end}}